<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/assets/application.css">
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.min.js"></script>
      <script src="/assets/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="front no-trans">
    <div class="scrollToTop"><i class="fa fa-chevron-up"></i></div>
    <div class="page-wrapper">
      <header class="header fixed clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="header-left clearfix">
                <div class="logo"><a href="{{ site.url }}"><img id="logo" src="/images/assets/lanbei-logo.png" alt="蓝贝电器logo"></a></div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="header-right clearfix">
                <div class="main-navigation animated">
                  <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                          <span class="sr-only">导航</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                      </div>
                      <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                          <li class="{% if page.category == 'home' %}active{% endif %}"><a href="{{ site.url }}">首页</a></li>
                          <li class="dropdown {% if page.category == 'about' %}active{% endif %}">
                            <a href="{{ site.url }}/lanbei/" class="dropdown-toggle" data-toggle="dropdown">认识蓝贝</a>
                            <ul class="dropdown-menu">
                              <li><a href="{{ site.url }}/about/">企业简介</a></li>
                              <li><a href="{{ site.url }}/history/">企业历史</a></li>
                              <li><a href="{{ site.url }}/honors/">企业荣誉</a></li>
                              <li><a href="{{ site.url }}/superiority/">产品优势</a></li>
                              <li><a href="{{ site.url }}/story/">品牌故事</a></li>
                            </ul>
                          </li>
                          <li class="{% if page.category == 'products' %}dropdown active{% else %}dropdown{% endif %}">
                            <a class="dropdown-toggle" data-toggle="dropdown">产品中心</a>
                            <ul class="dropdown-menu">
                              <li><a href="{{ site.url }}//">军工产品</a></li>
                              <li><a href="{{ site.url }}//">给养器材单元</a></li>
                              <li><a href="{{ site.url }}//">挂车配件</a></li>
                              <li><a href="{{ site.url }}//">炊事车</a></li>
                            </ul>
                          </li>
                          <li class="{% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">联系我们</a></li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      {{ content }}
      <footer id="footer">
        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="footer-content">
                  <div class="logo-footer"><img id="logo-footer" src="/images/assets/lanbei-logo-foot.png" alt="蓝贝电器logo"></div>
                  <div class="row">
                    <div class="col-sm-6">
                      <p>佛山市顺德区蓝贝电器设备有限公司成立于2004年，是一家集科研、生产、销售为一体的创新型企业。<a href="{{ site.url }}/about/" class="link"><span>认识蓝贝</span></a></p>
                      <h2><img class="img-responsive" src="{{ site.url }}/images/assets/weixin.jpg" alt="蓝贝官方微信"></h2>
                    </div>
                    <div class="col-sm-6">
                      <ul class="list-icons">
                        <li><i class="fa fa-map-marker pr-10"></i> 佛山市顺德区北滘镇碧江居委会碧桂路坤洲路段</li>
                        <li><i class="fa fa-phone pr-10"></i> 0757-26329338</li>
                        <li><i class="fa fa-fax pr-10"></i> 0757-26657701</li>
                        <li><i class="fa fa-envelope-o pr-10"></i> <a href="mailto:lanbei8899@163.com">lanbei8899@163.com</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="space-bottom hidden-lg hidden-xs"></div>
            </div>
            <div class="space-bottom hidden-lg hidden-xs"></div>
          </div>
        </div>
        <div class="subfooter">
          <div class="container">
            <p class="text-center">Copyright © 2004-2020 佛山市顺德区蓝贝电器设备有限公司 | <a href="{{ site.url }}/sitemap.xml">Sitemap</a></p>
          </div>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="/assets/application.js"></script>
  </body>
</html>