---
layout: article
---
<img class="img-responsive" src="{{ site.url }}/images/pages/products.jpg" alt="{{ page.title }}">
<section class="main-container">
  	<div class="container">
  		<div class="row">
      		<div class="col-md-12">
      			<h2 style="font-size:30px" class="product-title pull-left">{{ page.title }}</h2>
      			<div role="tabpanel">
      			  <!-- Nav tabs -->
      			  <ul class="nav nav-pills pull-right" role="tablist">
      			    <li role="presentation" class="active"><a style="font-size:18px" href="#home" aria-controls="home" role="tab" data-toggle="tab">概述</a></li>
      			    <li role="presentation"><a style="font-size:18px" href="#manual" aria-controls="manual" role="tab" data-toggle="tab">产品说明书</a></li>
      			  </ul>
      			</div>
      		</div>
  		</div>
  	</div>
  	<!-- Tab panes -->
  	<div class="tab-content mytab-content">
		<div role="tabpanel" class="tab-pane active" id="home">
			<div class="container">
				<div class="row">
				  	<div class="col-md-12 product-features-base">
				  		<div class="row">
				  			<div class="col-md-12">
				  			<img class="img-responsive bigImg" src="/images/products/{{ page.image }}.jpg" alt="{{ page.title }}">					  			
				  				
				  			</div>
				  		</div>
				  	</div>
				</div>
			</div>
	      	<div class="container-fluid">
	      		<div class="row">			
		      		<img class="img-responsive" src="/images/products/{{ page.image }}-large.jpg" alt="{{ page.title }}" />
	      		</div>
	      	</div>
	      	<div class="container">
	      		<div class="row">
		      		<div class="col-md-12">
						<table class="table table-hover">
							<thead><tr><th colspan="4">产品参数</th></tr></thead>
							<tbody>
								<tr>
									<td>机型</td>
									<td>{{ page.model }}</td>
								</tr>
								{{ content }}
								<tr>
									<th colspan="2">本参考数测试工况：冷水温度15℃，环境温度20℃。</th>
								</tr>
							</tbody>
						</table>
						<table class="table table-hover">
			                <thead><tr><th>{{ page.title }}安装示意图</th></tr></thead>
			                  <tbody>
				                <tr>
				                  <td><img src="/images/products/{{ page.image }}-az.jpg" alt="{{ page.title }}安装示意图"></td>
				                </tr>
			                  </tbody>
			            </table>
		      		</div>		      				      			
	      		</div>
	      	</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="manual">
	      	<div class="container">
	      		<div class="row">
		      		<div class="col-md-12">
						<img class="img-responsive bigImg" src="/images/manual/manual-1.jpg" alt="{{ page.title }}">
						<img class="img-responsive bigImg" src="/images/manual/manual-2.jpg" alt="{{ page.title }}">
						<img class="img-responsive bigImg" src="/images/manual/manual-3.jpg" alt="{{ page.title }}">
						<img class="img-responsive bigImg" src="/images/manual/manual-4.jpg" alt="{{ page.title }}">
						<img class="img-responsive bigImg" src="/images/manual/manual-5.jpg" alt="{{ page.title }}">
						<img class="img-responsive bigImg" src="/images/manual/manual-6.jpg" alt="{{ page.title }}">
						<img class="img-responsive bigImg" src="/images/manual/manual-7.jpg" alt="{{ page.title }}">
						<img class="img-responsive bigImg" src="/images/manual/manual-8.jpg" alt="{{ page.title }}">
						<img class="img-responsive bigImg" src="/images/manual/manual-9.jpg" alt="{{ page.title }}">
						<img class="img-responsive bigImg" src="/images/manual/manual-10.jpg" alt="{{ page.title }}">
						<img class="img-responsive bigImg" src="/images/manual/manual-11.jpg" alt="{{ page.title }}">

		      		</div>		      				      			
	      		</div>
	      	</div>
		</div>
  	</div>
</section>