---
layout: pages
---
<img class="img-responsive" src="{{ site.url }}/images/pages/products.jpg" alt="{{ page.title }}">
<section class="main-container">
  <div class="container">
  	<div class="row">
      <div class="col-md-4">
		<div class="box-style-1 gray-bg">
		  <div class="overlay-container gallery">
		    <img src="/images/products/{{ page.image }}.jpg" alt="">
		    <a href="/images/products/{{ page.image }}.jpg" class="popup-img overlay small"><i class="fa fa-search"></i></a>
		  </div>
		</div>
	  </div>
	  <div class="col-md-4">
		<div class="box-style-1 gray-bg">
		  <div class="overlay-container gallery">
		    <img src="/images/products/{{ page.image }}-2.jpg" alt="">
		    <a href="/images/products/{{ page.image }}-2.jpg" class="popup-img overlay small"><i class="fa fa-search"></i></a>
		  </div>
		</div>
	  </div>
	  <div class="col-md-4">
		<div class="box-style-1 gray-bg">
		  <div class="overlay-container gallery">
		    <img src="/images/products/{{ page.image }}-3.jpg" alt="">
		    <a href="/images/products/{{ page.image }}-3.jpg" class="popup-img overlay small"><i class="fa fa-search"></i></a>
		  </div>
		</div>
	  </div>
  	</div>
  	{{ content }}
  </div>
</section>