---
layout: article
---
<img class="img-responsive" src="{{ site.url }}/images/pages/support.jpg" alt="{{ page.title }}">
<section class="main-container">

				<div class="container">
					<div class="row">
                        
						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">
						<h1 class="page-title">联系方式</h1>
							<div class="separator-2"></div>

							<div class="row">
								<div class="col-md-6">
									<ul class="list">
								<li><i class="fa fa-map-marker pr-10"></i> 佛山市顺德区北滘镇碧江居委会碧桂路坤洲路段</li>
                                <li><i class="fa fa-phone pr-10"></i> {{ page.phone }}</li>
                                <li><i class="fa fa-fax pr-10"></i> {{ page.fax }}</li>
                                <li><i class="fa fa-envelope-o pr-10"></i> <a href="mailto:lanbei8899@163.com">{{ page.email }}</a></li>
                                <li><i class="fa fa-qq pr-10"></i> {{ page.qq }}</li>
                                <li><i class="fa fa-weixin pr-10"></i> <a class="popup-img-single" href="/images/assets/{{ page.weixin }}.jpg">{{ page.weixin }}</a></li>
							</ul>
								</div>
								<div class="col-md-6">
									<p><img src="/images/stores/{{ page.image }}.jpg" alt="{{ page.title }}"></p>
								</div>
							</div>
						</div>
						<!-- main end -->
						
					</div>
				</div>
			</section>